div#way > label {
    display: inline-block;
}
.w-100{width: 100%;}

.single-vicle div.image-vicle {
    max-width: 30%;
    width: 250px;
    float: left;
}

.single-vicle > div{
    display: inline-block;
}
div#vaclelist div.description-desc {
    width: calc(100% - 250px);
    float: right;
}

div#vaclelist div.description-desc div.vacle-details > div {
    width: 190px;
    float: left;
}
div#vaclelist div.description-desc div.vacle-details > div:last-child{
    width: 20%;
}

div.select-button a.btn-taxi-rent {
    background: #bb1111;
    color: white;
}
.single-vicle {
    overflow: hidden;
    background-color: #eee;
    padding: 15px;
    margin-bottom: 30px;
}

div#vaclelist div.description-desc div.vacle-details div.taxi-shadow {
    background-color: #ddd;
    border-radius: 5px;
    box-shadow: 2px 2px 0.2em #999;
    margin: 0px 20px 0 0;
    padding: 5px 0;
}
.part-details.select-button {
    padding: 12px 0;
}
.image-vicle {
    box-shadow: 2px 3px 0.2em #666;
}

div#online-booking-form {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.44);
    display: block;
    overflow: hidden;
    top: 0;
    left: 0;
    display: none;
    z-index: 9;
}
.form-online-inner {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    margin-left: -100%;
    overflow: auto;
}
form#portForm select:disabled,
form#portForm input[type="text"]:disabled{
    display: none;
}

div#switchDirection img {
    max-width: 40px;
    margin: 10px 0;
    cursor: pointer;
}