.mt-0{margin-top: 0;}
.mt-1{margin-top: 1rem;}
.mt-2{margin-top: 2rem;}
.mt-3{margin-top: 3rem;}
.mt-4{margin-top: 4rem;}
.mt-5{margin-top: 5rem;}

.mb-0{margin-bottom: 0;}
.mb-1{margin-bottom: 1rem;}
.mb-2{margin-bottom: 2rem;}
.mb-3{margin-bottom: 3rem;}
.mb-4{margin-bottom: 4rem;}
.mb-5{margin-bottom: 5rem;}





div#way > label {
    display: inline-block;
}
.w-100{width: 100%;}

.single-vicle div.image-vicle {
    max-width: 30%;
    width: 250px;
    float: left;
}

.single-vicle > div{
    display: inline-block;
}
div#vaclelist div.description-desc {
    width: calc(100% - 250px);
    float: right;
}

div#vaclelist div.description-desc div.vacle-details > div {
    width: 190px;
    float: left;
}
div#vaclelist div.description-desc div.vacle-details > div:last-child{
    width: 20%;
}

div.select-button a.btn-taxi-rent {
    background: #bb1111;
    color: white;
}
.single-vicle {
    overflow: hidden;
    background-color: #eee;
    padding: 15px;
    margin-bottom: 30px;
}

div#vaclelist div.description-desc div.vacle-details div.taxi-shadow {
    background-color: #ddd;
    border-radius: 5px;
    box-shadow: 2px 2px 0.2em #999;
    margin: 0px 20px 0 0;
    padding: 5px 0;
}
.part-details.select-button {
    padding: 12px 0;
}
.image-vicle {
    box-shadow: 2px 3px 0.2em #666;
}

div#online-booking-form {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.44);
    display: block;
    overflow: hidden;
    top: 0;
    left: 0;
    display: none;
    z-index: 9;
}
.form-online-inner {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    margin-left: -100%;
    overflow: auto;
}
form#portForm select:disabled,
form#portForm input[type="text"]:disabled{
    display: none;
}

div#switchDirection img {
    max-width: 40px;
    margin: 10px 0;
    cursor: pointer;
}

form#other_service .btn-sm:not(.toggle-off){
    padding-top: 4px;
    padding-left: 0;
    padding-bottom: 0;
}
form#other_service .btn-sm.toggle-off{
    padding-top: 4px;
    padding-right: 0;
    padding-bottom: 0px;
}

.imageDiv {
    overflow: hidden;
    height: 120px;
    margin-bottom: 8px;
    display: table;
    position: relative;
    max-height: 20px;
    text-align: center;
    justify-content: center;
    margin: 0 auto 10px auto;
}

.imageDiv img {
    vertical-align: middle;
    position: relative;
    max-width: 100%;
    height: 80px;
    margin: 0 auto;
    display: table-cell;
    overflow: hidden;
    text-align: center;
}

.adddropoff > span.addDropOffButton {
    background: red;
    color: white;
    padding: 5px 15px;
    margin-right: 10px;
    cursor: pointer;
}
.position-relative{
    position: relative;
}
.selectlocation > i {
    position: absolute;
    right: 7px;
    bottom: 7px;
    font-size: 22px;
}